* {
    font-family: Calibri;
}
#webLogo{
    width: 25%;
    position: absolute;
    display: inline-block;
}
#keyBox{
    top: 50px;
    margin-left: 70%; 
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 315px;
}
#btnSubmit{
    top: 50px;
    margin-left: 90%; 
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 115px;
}
#docList{
    border: 5px solid black;
    position: absolute;
    height: 750px;
    width: 400px;
    word-wrap: break-word;
    color: white;
    background-color: rgba(89, 97, 110, 0.7);
    margin-left: 2.5%;
    top: 15%;
}
#pdfBox{
    border: 5px solid black;
    position: absolute;
    word-wrap: break-word;
    color: white;
    background-color: rgba(89, 97, 110, 0.7);
    margin-left: 25%;
    top: 15%;
}